.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(9, 62, 48, 0.3) !important;
    color: #093E30;
    margin: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__link {
    margin: 2px;
}

.pagination__link--active a {
    border: 1px solid transparent !important;
    color: #fff !important;
    background: #E18427;
}

.pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
    pointer-events: none;
}

.pagination .next a,
.pagination .previous a {
    position: relative;
    border: 1px solid transparent !important;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination .previous a::after {
    position: absolute;
    top: 0;
    content: '';
    background-image: url(../../../images/arrow-line-left.svg);
    background-repeat: no-repeat;
    width: 42px;
    z-index: 0;
    height: 42px
}

.pagination .next a::after {
    position: absolute;
    top: 0;
    content: '';
    background-image: url(../../../images/arrow-fill-right.svg);
    background-repeat: no-repeat;
    width: 42px;
    z-index: 0;
    height: 42px
}